<div class="container mt-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Listado de Encuestas</h3>
        <button 
          pButton 
          icon="pi pi-plus" 
          label="Nueva Encuesta" 
          class="p-button-success"
          (click)="createNew()">
        </button>
      </div>
      <div class="card-body">
        <p-table 
          [value]="encuestas" 
          [loading]="loading"
          [paginator]="true" 
          [rows]="5"
          [rowsPerPageOptions]="[5,10,20]"
          styleClass="p-datatable-striped">
          
          <ng-template pTemplate="header">
            <tr>
              <th>País Residencia</th>
              <th>Nacionalidad</th>
              <th>Motivo Viaje</th>
              <th>Fecha Creación</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          
          <ng-template pTemplate="body" let-encuesta>
            <tr>
              <td>{{ encuesta.paisResidencia }}</td>
              <td>{{ encuesta.nacionalidad }}</td>
              <td>{{ encuesta.motivoViaje }}</td>
              <td>{{ encuesta.fechaCreacion | date:'medium' }}</td>
              <td>
                <button 
                  pButton 
                  icon="pi pi-pencil" 
                  class="p-button-rounded p-button-warning p-button-text"
                  (click)="editEncuesta(encuesta.id)">
                </button>
                
                <button 
                  pButton 
                  icon="pi pi-trash" 
                  class="p-button-rounded p-button-danger p-button-text"
                  (click)="deleteEncuesta(encuesta.id)">
                </button>
              </td>
            </tr>
          </ng-template>
          
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="text-center">
                No hay encuestas registradas
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>